<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anna Pavlova | Todas las obras</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body>
    <div class="lateralSide">
        <div class="logo">
            <img src="imgs/Logo.png" alt="Anna Pavlova - Academia de Ballet">
        </div>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Obras</li>
                <li>Contacto</li>

            </ul>
        </nav>
        <div class="socialNets">
            <img src="imgs/icos/Pinterest.png" alt="Pinterest" class="nets">
            <img src="imgs/icos/Twitter.png" alt="Twitter" class="nets">
            <img src="imgs/icos/Facebook.png" alt="Facebook" class="nets">
            <img src="imgs/icos/Instagram.png" alt="Instagram" class="nets">
        </div>
    </div>


    <div class="superiorBar">
        <img src="" width="20px"alt="Volver" style="height:20px, background:red">
        <h3>Filtrar por</h3>
        <h6>Precio</h6>
        <span>$40 000 a $55 000</span>
        <input type="radio" name="" id="">
        <span>$56 000 a $70 000</span>
        <input type="radio" name="" id="">
        <span>$71 000 a $85 000</span>
        <input type="radio" name="" id="">
        <span>$86 000 a $100 000</span>
        <input type="radio" name="" id="">
        <span>$101 000 a $115 000</span>
        <input type="radio" name="" id="">

        <h6>Temática</h6>
        <span>Drama</span>
                <input type="checkbox" name="" id="">
        <span>Comedia</span>
                <input type="checkbox" name="" id="">
        <span>Tragedia</span>
                <input type="checkbox" name="" id="">
        <span>Tango</span>
                <input type="checkbox" name="" id="">
        <span>Romance</span>
                <input type="checkbox" name="" id="">
        <span>Suspenso</span>
                <input type="checkbox" name="" id="">
        <span>Pasión</span>
                <input type="checkbox" name="" id="">
        <span>Adultos</span>
                <input type="checkbox" name="" id="">
        <span>Infantil</span>
                <input type="checkbox" name="" id="">
        <span>Fantasía</span>
        <input type="checkbox" name="" id="">
        <h6>Style</h6>
        <a href="/?style=experimental">
            <span>Experimental</span>
        </a>
        <a href="/?style=tradicional">
            <span>Tradicional</span>
        </a>
        <!--Filtrar por:  
        añadir a database:Precio .Temática. Danza tradicional o experimental. 
        -->
    </div>
    <div class="generalContainer" style="width: 4300px">


        {{#each plays}} {{#ifEquals tipo "uno"}}
        <div class="play" tipo="uno">

            <a href="/obra/{{direction}}">
                <button class="seeMore">
                    +
                </button>
            </a>
            
            <h4 class="playTitle">
                {{name}}
            </h4>
            <div class="imgPlay">
                <img src="{{image}}" alt="{{name}}">
            </div>
        </div>
        {{else}}

        <div class="play" tipo="dos">


            <div class="imgPlay">
                <img src="{{image}}" alt="{{name}}">
            </div>
            <h4 class="playTitle">
                {{name}}
            </h4>
             <a href="/obra/{{direction}}">
                <button class="seeMore">
                    +
                </button>
            </a>
        </div>
        {{/ifEquals}} {{/each}}


        <!--Dos for, uno lee los pares, el otro los impares, los impares tienen tipo="uno", los pares tienen tipo="dos" -->
    </div>
    <script src="js/cliente.js"></script>

</body>

</html>