<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anna Pavlova | Todas las obras</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body>
    <div class="lateralSide">
        <div class="logo">
            <img src="imgs/Logo.png" alt="Anna Pavlova - Academia de Ballet">
        </div>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Obras</li>
                <li>Contacto</li>

            </ul>
        </nav>
        <div class="socialNets">
            <img src="imgs/icos/Pinterest.png" alt="Pinterest" class="nets">
            <img src="imgs/icos/Twitter.png" alt="Twitter" class="nets">
            <img src="imgs/icos/Facebook.png" alt="Facebook" class="nets">
            <img src="imgs/icos/Instagram.png" alt="Instagram" class="nets">
        </div>
    </div>


    <div class="superiorBar">
        <img src="/imgs/icos/back.png" height="20px" width="20px" alt="Volver" style="height:20px, background:red">
        <div class="filtros">

            <h3>Filtrar por:</h3>
            <h6 id="activatorPrice">Precio</h6>
            <form class="popUp" id="precioPop">
                <span class="helper"></span>
                <div>
                    <h6 id="pricePopCloser">Precio</h6>

                    <input type="radio" name="price" id="price1">
                    <label for="price1">$40 000 a $55 000</label>

                    <input type="radio" name="price" id="price2">
                    <label for="price2">$56 000 a $70 000</label>

                    <input type="radio" name="price" id="price3">
                    <label for="price3">$71 000 a $85 000</label>

                    <input type="radio" name="price" id="price4">
                    <label for="price4">$86 000 a $100 000</label>

                    <input type="radio" name="price" id="price5">
                    <label for="price5">$101 000 a $115 000</label>
                </div>
            </form>
            <h6 id="activatorTematica">Temática</h6>
            <fieldset class="popUp" id="tematicaPop">
                <span class="helper"></span>
                <div>
                    <legend>
                        <h6 id="tematicaPopCloser">Temática</h6>
                    </legend>

                    <div>
                        <input type="checkbox" name="topic" id="topicDrama">
                        <label for="topicDrama">Drama</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicComedy">
                        <label for="topicComedy">Comedy</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicTragedy">
                        <label for="topicTragedy">Tragedy</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicTango">
                        <label for="topicComedy">Tango</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicRomance">
                        <label for="topicRomance">Romance</label>
                    </div>


                    <div>
                        <input type="checkbox" name="topic" id="topicSuspense">
                        <label for="topicSuspense">Suspenso</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicPasion">
                        <label for="topicPasion">Pasión</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicAdults">
                        <label for="topicAdults">Adultos</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicKids">
                        <label for="topicKids">Infantil</label>
                    </div>

                    <div>
                        <input type="checkbox" name="topic" id="topicFantasy">
                        <label for="topicFantasy">Fantasía</label>
                    </div>

                </div>

            </fieldset>


            <h6 id="activatorEstilo">Estilo</h6>
            <div class="popUp" id="estiloPop">
                <span class="helper"></span>

                <div>
                    <h6 id="estiloPopCloser">Estilo</h6>

                    <a href="/?style=experimental">
                        <span>Experimental</span>
                    </a>
                    <a href="/?style=tradicional">
                        <span>Tradicional</span>
                    </a>

                </div>

            </div>
        </div>
        <!--Filtrar por:  
        añadir a database:Precio .Temática. Danza tradicional o experimental. 
        -->
    </div>
    <div class="generalContainer" style="width: 4300px">


        {{#each plays}} {{#ifEquals tipo "uno"}}
        <div class="play" tipo="uno">

            <a href="/obra/{{direction}}">
                <button class="seeMore">
                    +
                </button>
            </a>

            <h4 class="playTitle">
                {{name}}
            </h4>
            <div class="imgPlay">
                <img src="{{image}}" alt="{{name}}">
            </div>
        </div>
        {{else}}

        <div class="play" tipo="dos">


            <div class="imgPlay">
                <img src="{{image}}" alt="{{name}}">
            </div>
            <h4 class="playTitle">
                {{name}}
            </h4>
            <a href="/obra/{{direction}}">
                <button class="seeMore">
                    +
                </button>
            </a>
        </div>
        {{/ifEquals}} {{/each}}

    </div>
    <script src="js/cliente.js"></script>

</body>

</html>